{% extends "layout.html" %}
{% block content %}
<div style="border-radius: 30px;border: 6px solid var(--light);border-top-style: solid;padding: 10px;">
    <div class="row">
        <div class="col" style="margin: 5px;"><strong style="color: var(--light);">Date: {{ mtc.date }} - {{ mtc.hour }}&nbsp;</strong></div>
    </div>
    <div class="row">
        <div class="col" style="margin: 5px;"><strong style="color: var(--light);">Division: {{ mtc.div }}</strong></div>
    </div>
    <div class="row">
        <div class="col" style="margin: 5px;"><strong style="color: var(--light);">Home: {{ mtc.home }}</strong></div>
    </div>
    <div class="row">
        <div class="col" style="margin: 5px;"><strong style="color: var(--light);">Away: {{ mtc.away }}</strong></div>
    </div>
    <div class="row">
        <div class="col" style="margin-top: 20px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;"><strong style="color: var(--light);">Referee: {{ mtc.referee }}&nbsp;</strong></div>
    </div>
    <div class="row">
        <div class="col" style="margin: 5px;"><strong style="color: var(--light);">AR1: {{ mtc.assistent1 }}</strong></div>
    </div>
    <div class="row">
        <div class="col" style="margin: 5px;"><strong style="color: var(--light);">AR2: {{ mtc.assistent2 }}</strong></div>
    </div>
    <div class="row">
        <div class="col" style="margin: 5px;"><strong style="color: var(--light);">4e official: {{ mtc.referee4 }}</strong></div>
    </div>
    <div class="row" style="margin: 10px;">
        <div title="Add to Calendar" class="addeventatc">
            Add to Calendar
            <span class="start">{{ mtc.start }}</span>
            <span class="end">{{ mtc.end }}</span>
            <span class="timezone">Europe/Belgium</span>
            <span class="title">{{ mtc.home }} - {{ mtc.away }}</span>
            <span class="description"></span>
            <span class="location"></span>
        </div>
    </div>
</div>
<br/>
{% endblock %}